# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

config BOARD_FOXPROMICRO_RFEK_UF2
	select SOC_NRF52840_QIAA

if BOARD_FOXPROMICRO_RFEK_UF2

config BOARD_SERIAL_BACKEND_CDC_ACM
	bool "USB CDC"
	default y

config BOARD_ENABLE_FEM
	bool "FEM enabled"
	default y
	select MPSL_FEM
	select MPSL_FEM_NRF21540_GPIO
	help
	  Enable front-end module (nRF21540).

endif # BOARD_FOXPROMICRO_RFEK_UF2
